* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100%;
  background: linear-gradient(
    to right,
    #1c1f25 0%,
    #1c1f25 50%,
    #2b3138 50%,
    #2b3138 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Oxygen", sans-serif;
  letter-spacing: 2px;
}
